---
layout: page
title: "Blog"
description: "Have questions? I have answers (maybe)."
header-img: "img/contact-bg.jpg"
---


<div class="post-preview">
    
    
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
            <h2 class="post-title">{{ currentdate }}</h2>
                {% assign date = currentdate %} 
        {% endif %}
            <a href="{{ post.url | prepend: site.baseurl }}">    
                <h3 class="post-subtitle">           
                    <i>{{ post.date | date: '%B %d' }}</i>  -  {{ post.title }}
                </h3>
            </a>
    {% endfor %}
</div>    

