---
layout: page
title: "Blog"
description: "Have questions? I have answers (maybe)."
header-img: "img/contact-bg.jpg"
---


<div class="post-preview">
    
    <h2 class="post-title">
        2015
    </h2>
    {% for post in site.posts %}
    
    {% capture annee %}
    {{ post.date | date: "%Y" }}
    {% endcapture %}
    
    {% if annee == 2015 %}
        
        <a href="{{ post.url | prepend: site.baseurl }}">    
            <h2 class="post-subtitle">           
                {{ post.date | date: '%B %d' }} {{ post.title }}
            </h2>
        </a>
        
    {% endif %}
    {% endfor %}
    
    <h2 class="post-title">
        2016
    </h2>
    {% for post in site.posts %}
    
    {% capture annee %}
    {{ post.date | date: "%Y" }}
    {% endcapture %}
    
    {% if annee == 2016 %}
        
        <a href="{{ post.url | prepend: site.baseurl }}">    
            <h2 class="post-subtitle">           
                {{ post.title }}
            </h2>
        </a>
        Posted on {{ post.date | date: '%B %d, %Y' }}
    {% endif %}
    {% endfor %}
    
    
</div>    

