---
layout: page
title: "Blog"
description: "Have questions? I have answers (maybe)."
header-img: "img/contact-bg.jpg"
---


<div class="post-preview">
    
    <h2 class="post-title">
        2015
    </h2>
    
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
            <li id="y{{currentdate}}">{{ currentdate }}</li>
                {% assign date = currentdate %} 
        {% endif %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    
    <a href="{{ post.url | prepend: site.baseurl }}">    
            <h2 class="post-subtitle">           
                {{ post.date | date: '%B %d' }}  -  {{ post.title }}
            </h2>
        </a>
</div>    

