---
layout: archive
title:  Category 2
background: '/img/bg-post.jpg'
---

<ul class="posts">
  {% for category in site.categories %}
    {% if category[0] == "cat2" %}
      {% for post in category[1] %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
        
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
            <br>
            Categories:
            {% for category in post.categories %}
                <a href="{{ category | prepend: "/" | relative_url }}">
                    {{ category | capitalize }}
                </a>
            {% endfor %}
          </p>
        </article>

      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>

<hr>
