---
layout: default-layout
---
<section class="content">
<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about" style="margin-right: 15px;">Joint Road Forward</h2>
            <ul>
                <li class="project-specifics"><p><h4 class="specifics">Intended Audience</h4>Policy makers, Transportation Industry, Academia</p></li>
                <li class="project-specifics"><p><h4 class="specifics">Keywords</h4>Mobility, infrastructure, policy.</p></li>
            </ul>
        </div>

   <div class="col-md-6">
        <!--<div class="row">
            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center; padding-top:62px;">
                <iframe allowfullscreen="" src="http://player.vimeo.com/video/87071472" frameborder="0" width="100%" height="auto"></iframe>
              </div>
              <a class="italic" style="font-weight:100; font-size:13pt">Some description of the video.</a>
        </div>-->
      <div class="row">
          <div class="col-md-6" style="padding:0 0 0 0">
            <br />
            <p class="project-intro">A project that uses gaming and computerized simulations to study planning for mobility infrastructure and policy.</p>
            <p class="simple-content">The Joint Road Forward is a multi-year project aimed at developing gaming and simulation methods to better design mobility infrastructure and policies, leveraging different forms of relevant data, and participatory methods. <p/>
            <p class="simple-content">The research project is a collaboration between academia and industry in India and the Netherlands, with a goal to learn from both contexts. We will use mobility data mining methods to build  specific mobility models, which form the base for the gaming and simulation platform. </p>
            <p class="simple-content">Our approach leverages both gaming and computerized simulations, built and validated using data from Indian and Dutch contexts. Computerized simulations offer a space for experimentation at scales of cities, and gaming simulations provide the ability to use participatory approaches enabling multiple stakeholder engagement.<p/>
            <p class="simple-content">The goal of the project is to explore the role of transport infrastructure and mobility on the daily lives of people. Using gaming and simulations we intend to explore this in local cultural contexts of India and the Netherlands.<p/>
            <p class="simple-content">Learn more about it here.</p>

            <li class="project-specifics" style="margin-left:0px"><p><h4 class="specifics">Collaborations</h4>IIIT-B, TU Delft, KTH Royal Institute of Technology</p>
            <!--<li class="project-specifics" style="margin-left:0px"><p><h4 class="specifics">Acknowledgements</h4>Shakun Mohini, Vimochana; Sandhya Rao, Hengasara Hakkina Sangha; Laxmi Murthy, journalist</p>-->
            <br/>
            <!--<a href="{{ site.baseurl }}/game-sessions/" class="italic2" style="font-size:20pt">Play the Energy Game now!</a>-->
          </div>
          <div class="col-md-6" style="padding-top:65px">
              <img src="/img/square-project-mock.jpg" style="padding-bottom:40px; float:right; height:100%; width:100%;">
              <img src="/img/square-project-mock.jpg" style="padding-bottom:40px; float:right; height:100%; width:100%;">
          </div>
    </div>
  </div>
          <div class="col-md-2" style="padding-top:24px">
            <ul class="list-inline-side">
                {% if site.twitter_username %}
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="fa-stack fa" style="font-size:16px">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </li>
                {% endif %}
                {% if site.facebook_username %}
                <li>
                    <a href="https://www.facebook.com/{{ site.facebook_username }}">
                        <span class="fa-stack fa" style="font-size:16px">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                </li>
                {% endif %}
                {% if site.github_username %}
                <li>
                    <a href="https://linkedin.com/company/{{ site.linkedin_username }}">
                        <span class="fa-stack fa" style="font-size:16px">
                            <i class="fa fa-linkedin"></i>
                        </span>
                    </a>
                </li>
                {% endif %}
            </ul>
            <span class="italicregular" style="font-size:11pt; padding-left:10px;">Share this page!</span>
          </div>

        </div>
    </div>
</section>
