---
layout: page
title: People
description: MIP-Frontiers fellows
width: 12
---

<div class="row">
{% for group in site.data.people.groups %}
  <!-- <h1>{{ group.name }}</h1> -->
  {% for esr in group.esrs %}
    <div class="col-lg-6 my-3">
    <div class="row">
    	<div class="col-4">
    		<img src="/img/photos/{{ esr.photo }}" class="img-fluid" alt="{{ esr.name }}">
    	</div>
    	<div class="col-8">
    		<h2 id="{{ esr.id }}">{{ esr.name }}</h2>
        <div>Topic: {{ esr.topic }}</div>
    		<div>
          <em>Supervisor:
          {% for supervisor in esr.supervisors %}
            {% if supervisor.web %}
              <a href="{{ supervisor.web }}">{{ supervisor.name }}</a> 
            {% else %}
              {{ supervisor.name }}
            {% endif %}
          {% endfor %}
          </em>
        </div>

        {% if esr.logo %}
          {{ esr.logo }}
        {% endif %}
        {{ group.logo }}

    		<div>
          <a target="_blank" href="mailto:{{ esr.email }}"><i class="fas fa-envelope"></i></a>
          {% if esr.website %}<a target="_blank" href="{{ esr.website }}"><i class="fas fa-globe-europe"></i></a>{% endif %}
          {% if esr.github %}<a target="_blank" href="https://github.com/{{ esr.github }}"><i class="fab fa-github"></i></a>{% endif %}
          {% if esr.linkedin %}<a target="_blank" href="https://www.linkedin.com/in/{{ esr.linkedin }}"><i class="fab fa-linkedin-in"></i></a>{% endif %}
          {% if esr.twitter %}<a target="_blank" href="https://twitter.com/{{ esr.twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
    		</div>

    	</div>
    </div>
    </div>
  {% endfor %}
{% endfor %}
</div>