<!-- Footer -->
<footer>
    <div class="container-fluid"
>
        <div class="row-fluid">
          <div class="col-md-4">
            {{Content}}
          </div>
            <div class="col-md-4">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
                            <span class="fa-stack fa">
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                            <span class="fa-stack fa">
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
                            <span class="fa-stack fa">
                                <i class="fa fa-facebook"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://linkedin.com/company/{{ site.linkedin_username }}" target="_blank">
                            <span class="fa-stack fa">
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Fields of View.<br/>#1915, 5th Cross, 18th 'A' Main, JP Nagar 2nd Phase, Bangalore - 560 078</p>
            </div>
            <div class="col-md-4">
              {{Content}}
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
