<!-- Footer -->
<footer class="text-center" id="contact">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h3>Location</h3>
					<p><i class="fa fa-university"></i>University of Washington<br>Department of Physiology and Biophysics<br>Seattle, WA</p>
				</div>
				<div class="footer-col col-md-4">
					<h3>Around the Web</h3>
					<ul class="list-inline">
						<li>
							<a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn-social btn-outline"><i class="fa fa-fw fa-rss"></i></a>
						</li>
						<li>
							<a href="https://github.com/isomerase/" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
						</li>
						<li>
							<a href="http://www.flickr.com/photos/richarddecal/" class="btn-social btn-outline"><i class="fa fa-fw fa-flickr"></i></a>
						</li>
						<li>
							<a href="http://www.richarddecal.com" class="btn-social btn-outline"><i class="fa fa-fw fa-home"></i></a>
						</li>
						<li>
							<a href="http://www.repositoryofknowledge.info" class="btn-social btn-outline"><i class="fa fa-fw fa-book"></i></a>
						</li>
						<li>
							<a href="mailto:decal@uw.edu" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a>
						</li>
						<li>
							<a href="https://keybase.io/richarddecal" class="btn-social btn-outline"><i class="fa fa-fw fa-key"></i></a>
						</li>
					</ul>
				</div>
				<div class="footer-col col-md-4">
					<h3>Third Corner</h3>
					<p>I'll think of something to put here.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					Copyright &copy; under an Apache 2.0 License, Richard Decal 2014
				</div>
			</div>
		</div>
	</div>
</footer>
