<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">



    <style media="screen">
    * { box-sizing: border-box; }
html { font-family: sans-serif; font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { margin: 0px; font-family: Lora, 'Times New Roman', serif; font-size: 20px; line-height: 1.42857143; color: rgb(64, 64, 64); background-color: rgb(255, 255, 255); }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
.navbar-fixed-bottom, .navbar-fixed-top { position: fixed; right: 0px; left: 0px; z-index: 1030; border-radius: 0px; }
.navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; }
.navbar-default { border-color: rgb(231, 231, 231); background-color: rgb(248, 248, 248); }
.navbar-custom { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 3; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; background: transparent; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: transparent; transition: background-color 0.3s; transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; }
.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.navbar-header { float: left; }
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0px; margin-left: 0px; }
button, input, optgroup, select, textarea { margin: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; border: 1px solid transparent; border-radius: 4px; background-image: none; background-color: transparent; display: none; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px 0px 0px 0px); border: 0px; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(136, 136, 136); }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
a { background-color: transparent; color: rgb(64, 64, 64); text-decoration: none; }
.navbar-brand { float: left; height: 50px; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-default .navbar-brand { color: rgb(119, 119, 119); }
.navbar-custom .navbar-brand { font-weight: 800; color: white; padding: 20px; }
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
.collapse { display: none; }
.navbar-collapse { padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top-width: 0px; border-top-style: solid; border-top-color: transparent; box-shadow: none; width: auto; }
.navbar-collapse.collapse { padding-bottom: 0px; display: block !important; height: auto !important; overflow: visible !important; }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse { padding-right: 0px; padding-left: 0px; }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 340px; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none; }
.navbar-nav { margin: 0px; float: left; }
.navbar-right { margin-right: -15px; float: right !important; }
.nav > li { position: relative; display: block; }
.navbar-nav > li { float: left; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; line-height: 20px; }
.navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-custom .nav li a { text-transform: uppercase; font-size: 12px; font-weight: 800; letter-spacing: 1px; color: white; padding: 20px; }
.intro-header { margin-bottom: 50px; background: 50% 50% / cover no-repeat scroll rgb(128, 128, 128); }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; width: 1170px; }
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
.col-md-10 { width: 83.33333333%; }
.col-md-offset-1 { margin-left: 8.33333333%; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { float: left; }
.col-lg-8 { width: 66.66666667%; }
.col-lg-offset-2 { margin-left: 16.66666667%; }
.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading { padding: 150px 0px; color: white; }
h1 { margin: 0.67em 0px; font-size: 2em; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 800; }
.intro-header .post-heading h1 { font-size: 55px; }
.h2, h2 { font-size: 30px; }
.intro-header .post-heading .subheading, .intro-header .post-heading .meta { line-height: 1.1; display: block; }
.intro-header .post-heading .subheading { font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 30px; margin: 10px 0px 30px; font-weight: 600; }
.intro-header .post-heading .meta { font-family: Lora, 'Times New Roman', serif; font-style: italic; font-weight: 300; font-size: 20px; }
</style>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
