<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" id="nav-fov">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-3">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/fovlogo.jpg"
                        style="height:80px; cursor:pointer;"></a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-9">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="{{ site.baseurl }}/about/" id="about">About Us</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/projects/" id="projects">Projects</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/publications/" id="publications">Publications</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/events/" id="events">Events & Updates</a>
                    </li>
                    <!--                 <li>
                    <a href="{{ site.baseurl }}/updates/" id="updates">Updates</a>
                </li> -->
                    <li>
                        <a href="{{ site.baseurl }}/work-with-us/" id="work-with-us">Work with Us</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/contact-us/" id="contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/in-the-media/" id="media">In The Media</a>
                    </li>
                    <li id="search-button">
                        <span class="glyphicon glyphicon-search"
                            style="margin-top:12px; margin-right:15px; color:#595959"></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>