<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/scripts.js" | relative_url }}"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>

<!-- Added by BDX -->
<script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
<script src="/assets/plotly-2.16.1.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

{% if page.url contains 'contact' %}
  <!-- Form Validation -->
  <script src="{{"/assets/vendor/startbootstrap-clean-blog/js/jqBootstrapValidation.js" | relative_url }}"></script>
  <!-- Send Form -->
  <script>
    $(function () {

      $("#contactForm input,#contactForm textarea").jqBootstrapValidation({
        preventSubmit: true,
        submitError: function ($form, event, errors) {
          // additional error messages or events
        },
        submitSuccess: function ($form, event) {
          event.preventDefault(); // prevent default submit behaviour
          // get values from FORM
          var name = $("input#name").val();
          var email = $("input#email").val();
          var phone = $("input#phone").val();
          var message = $("textarea#message").val();
          var firstName = name; // For Success/Failure Message
          // Check for white space in name for Success/Fail message
          if (firstName.indexOf(' ') >= 0) {
            firstName = name.split(' ').slice(0, -1).join(' ');
          }
          $this = $("#sendMessageButton");
          $this.prop("disabled", true); // Disable submit button until AJAX call is complete to prevent duplicate messages
          $.ajax({
            url: "//formspree.io/{{ site.email }}",
            type: "POST",
            data: {
              name: name,
              phone: phone,
              email: email,
              message: message
            },
            cache: false,
            success: function () {
              // Success message
              $('#success').html("<div class='alert alert-success'>");
              $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
              $('#success > .alert-success').append("<strong>Your message has been sent. </strong>");
              $('#success > .alert-success').append('</div>');
              //clear all fields
              $('#contactForm').trigger("reset");
            },
            error: function () {
              // Fail message
              $('#success').html("<div class='alert alert-danger'>");
              $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
              $('#success > .alert-danger').append($("<strong>").text("Sorry " + firstName + ", it seems that my mail server is not responding. Please try again later!"));
              $('#success > .alert-danger').append('</div>');
              //clear all fields
              $('#contactForm').trigger("reset");
            },
            complete: function () {
              setTimeout(function () {
                $this.prop("disabled", false); // Re-enable submit button when AJAX call is complete
              }, 1000);
            }
          });
        },
        filter: function () {
          return $(this).is(":visible");
        }
      });

      $("a[data-toggle=\"tab\"]").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    });

    /*When clicking on Full hide fail/success boxes */
    $('#name').focus(function () {
      $('#success').html('');
    });
  </script>
{% endif %}

<!-- Scripts added by BDX below this point -->

<!-- PlotLy 3d Graph Real data -->
<script>
d3.csv('cluster_df_hugo.csv', function(err, rows){

function unpack(rows, key) {
return rows.map(function(row)
{ return row[key]; });}

var labels = unpack(rows, 'labels');
var max_labels = Math.max.apply(Math, labels);

// Loop on the labels
var colors = [];
for(var i = 1; i <= max_labels; i++){
  colors.push('rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')');
}

var traces = [];

for(var i = 1; i <= max_labels; i++){
  // Filter the rows to get all rows with the current label
  var filteredRows = rows.filter(function(row) {
    return row['labels'] == i;
  });

  // Extract the x, y, and z values for the trace
  var x = unpack(filteredRows, 'tsne_1_weighted_descriptions_embeddings');
  var y = unpack(filteredRows, 'tsne_2_weighted_descriptions_embeddings');
  var z = unpack(filteredRows, 'tsne_3_weighted_descriptions_embeddings');

  // Create a new trace object
  var trace = {
    x: x,
    y: y,
    z: z,
    mode: 'markers',
    marker: {
      size: 12,
      color: colors[i - 1],
      line: {
      color: 'rgba(217, 217, 217, 0.14)',
      width: 0.5},
      opacity: 0.8
    },
    type: 'scatter3d'
  };

  // Push the trace to the traces array
  traces.push(trace);
}

var layout = {
margin: {
  l: 0,
  r: 0,
  b: 0,
  t: 0
},
paper_bgcolor:'rgba(0,0,0,0)',
plot_bgcolor:'rgba(0,0,0,0)',
// Remove axis
scene:{
  xaxis: {
    showgrid: false,
    zeroline: false,
    showline: false,
    showticklabels: false,
    visible: false
  },
  yaxis: {
    showgrid: false,
    zeroline: false,
    showline: false,
    showticklabels: false,
    visible: false
  },
  zaxis: {
    showgrid: false,
    showline: false,
    showticklabels: false,
    zeroline: false,
    visible: false
  }
}
};

// Use the traces array to plot the 3D scatter plot with Plotly
Plotly.newPlot('3d-graph-1', traces, layout);
});
</script>

<!-- PlotLy 3d Graph 2-->
<script>
d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/3d-scatter.csv', function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row)
  { return row[key]; });}

  var trace1 = {
    x:unpack(rows, 'x1'), y: unpack(rows, 'y1'), z: unpack(rows, 'z1'),
    mode: 'markers',
    marker: {
      size: 12,
      line: {
      color: 'rgba(217, 217, 217, 0.14)',
      width: 0.5},
      opacity: 0.8},
    type: 'scatter3d'
  };

  var trace2 = {
    x:unpack(rows, 'x2'), y: unpack(rows, 'y2'), z: unpack(rows, 'z2'),
    mode: 'markers',
    marker: {
      color: 'rgb(127, 127, 127)',
      size: 12,
      symbol: 'circle',
      line: {
      color: 'rgb(255, 0, 0)',
      width: 1},
      opacity: 0.8},
    type: 'scatter3d'};

// Add a trace for the lines between the points
var lines = {
  x: [trace1.x[0], trace2.x[0], ], y: [trace1.y[0], trace2.y[0]], z: [trace1.z[0], trace2.z[0]],
  mode: 'lines',
  line: {
    color: 'rgb(255, 0, 0)',
    width: 20},
  type: 'scatter3d'};

var data = [trace1, trace2, lines];

var layout = {
  margin: {
    l: 0,
    r: 0,
    b: 0,
    t: 0
  },
  paper_bgcolor:'rgba(0,0,0,0)',
  plot_bgcolor:'rgba(0,0,0,0)',
  // Remove axis
  scene:{
    xaxis: {
      showgrid: false,
      zeroline: false,
      showline: false,
      showticklabels: false,
      visible: false
    },
    yaxis: {
      showgrid: false,
      zeroline: false,
      showline: false,
      showticklabels: false,
      visible: false
    },
    zaxis: {
      showgrid: false,
      showline: false,
      showticklabels: false,
      zeroline: false,
      visible: false
    }
  }
};
Plotly.newPlot('3d-graph-2', data, layout);
});
</script>

<!-- PlotLy 3d Graph 3-->
<script>
  d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/3d-scatter.csv', function(err, rows){
  function unpack(rows, key) {
    return rows.map(function(row)
    { return row[key]; });}

  var trace1 = {
    x:unpack(rows, 'x1'), y: unpack(rows, 'y1'), z: unpack(rows, 'z1'),
    mode: 'markers',
    marker: {
      size: 12,
      line: {
      color: 'rgba(217, 217, 217, 0.14)',
      width: 0.5},
      opacity: 0.8},
    type: 'scatter3d'
  };

  var trace2 = {
    x:unpack(rows, 'x2'), y: unpack(rows, 'y2'), z: unpack(rows, 'z2'),
    mode: 'markers',
    marker: {
      color: 'rgb(127, 127, 127)',
      size: 12,
      symbol: 'circle',
      line: {
      color: 'rgb(0, 0, 0)',
      width: 1},
      opacity: 0.8},
    type: 'scatter3d'};

  // Add a trace for the lines between the points
  var lines = {
    x: [trace1.x[0], trace2.x[0]], y: [trace1.y[0], trace2.y[0]], z: [trace1.z[0], trace2.z[0]],
    mode: 'lines',
    line: {
      color: 'rgb(255, 0, 0)',
      width: 20},
    type: 'scatter3d'};

  var data = [trace1, trace2, lines];

  var layout = {margin: {
    l: 0,
    r: 0,
    b: 0,
    t: 0
    },
    paper_bgcolor:'rgba(0,0,0,0)',
    plot_bgcolor:'rgba(0,0,0,0)',
    // Remove axis
    scene:{
      xaxis: {
        showgrid: false,
        zeroline: false,
        showline: false,
        showticklabels: false,
        visible: false,
      },
      yaxis: {
        showgrid: false,
        zeroline: false,
        showline: false,
        showticklabels: false,
        visible: false,
      },
      zaxis: {
        showgrid: false,
        zeroline: false,
        showline: false,
        showticklabels: false,
        visible: false,
      }
    }
  };
Plotly.newPlot('3d-graph-3', data, layout);
});
</script>

<!-- Animate Graph 2 -->
<!-- <script>
  Plotly.animate('3d-graph-2', {
    data: [{x: [1, 2, 3], y: [1, 2, 3], z: [1, 2, 3]}],
  }, {
    transition: {
      duration: 500,
      easing: 'cubic-in-out'
    },
    frame: {
      duration: 500
    }
  })
</script> -->

<!-- Animation On Scrolling (AOS) -->
<script>
  AOS.init({
    duration: 1200,
  })
</script>

