
<!--<span class='st_twitter'></span>
<span class='st_facebook'></span>
<span class='st_linkedin'></span> <br/>-->
<a id="share-twitter" target="_blank"><span class='fa fa-twitter'  style="font-size:16px; padding-right:12px"></span></a>
<a id="share-facebook" target="_blank"><span class='fa fa-facebook' style="font-size:16px; padding-right:12px"></span></a>
<a id="share-linkedin" target="_blank"><span class='fa fa-linkedin' style="font-size:16px; padding-right:12px"></span></a> <br/>
<span class="italicregular" style="font-size:11pt;">Share this page!</span>

<script>
$(document).ready(function(){
  var title = document.title;
  var url = document.location.href;
  var message = title + "," + url;
  $("#share-twitter").attr("href","http://twitter.com/home?status="+message);
  $("#share-facebook").attr("href","http://facebook.com/share.php?u="+url+"&title="+title);
  $("#share-linkedin").attr("href","http://linkedin.com/shareArticle?mini=true&url="+url+"&title="+title);
});
</script>
