{% capture tags %}
  {% if post %}
    {% for tag in post.tags %}
        <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% else %}
    {% for tag in page.tags %}
        <!--a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag | cgi_escape }}" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a-->
        <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% endif %}
{% endcapture %}
<!-- <span class="point">•</span> -->
<span class="pageTag">
  <i class="fa fa-tags"></i>{{ tags }}
</span>
