// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.navbar-logo {
	height: 30px;
	width: 30px;
}

.container {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
