---
layout: page
title: Home Brew
background: '/img/homebrew/beer-bar.jpg'
---

{% for homebrew in site.homebrews %}

<article class="post-preview">
  <a href="{{ homebrew.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ homebrew.title }}</h2>
    {% if homebrew.subtitle %}
    <h3 class="post-subtitle">{{ homebrew.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ homebrew.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if homebrew.author %}
    {{ homebrew.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ homebrew.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=homebrew.content %}</p>
</article>

<hr>

{% endfor %}
