---
layout: default-layout
permalink: /about/alumni/
---
<section class="content">
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about"><a href="{{ site.baseurl }}/about/">About Us</a></h2>
            <ul>
                <li class="about_nav"><a href="{{ site.baseurl }}/about/team/">Team</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/about/alumni/" style="font-weight: bold">Alumni</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/about/collaborations/">Collaborations</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/about/magazine/">Magazine</a></li>
            </ul>
        </div>

        <div class="col-md-6" style="padding-top:62px">
            {%for alumni in page.alumni%}
            <div id="{{alumni.ide}}" class="col-md-3" style="padding-bottom:50px">
              <img src="/img/team/alumni/{{alumni.img}}"/>
              <span class="team-name" style="font-family: Bebas Neue; font-size: 14pt; color:#939393; letter-spacing:0.5px">{{ alumni.title}}</span>
              <!--<span class="designation">{{ alumni.designation }}</span><br/>
              <a href="mailto:{{ alumni.email }}" class="mailid">{{ alumni.email }}</a>-->
            </div>
            {%endfor %}
        </div>

          <div class="col-md-2" style="border-top:1.5px solid #939393; margin-top:61px">
        </div>

    </div>
</div>
</section>
