---
layout: default-layout
---
<section class="content">
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about">About Us</h2>
            <ul>
                <li class="about_nav"><a href="{{ site.baseurl }}/team/">Team</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/alumni/" style="font-weight: bold">Alumni</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/collaborations/">Collaborations</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/newsletter/">Newsletter</a></li>
            </ul>
        </div>

        <div class="col-md-6" style="padding-top:62px">
            {%for alumni in page.alumni%}
            <div id="{{alumni.ide}}" class="col-md-4" style="padding-bottom:50px"><img src="{{alumni.img}}"/>
            <h3 class="team-name">{{ alumni.title}}</h3>
              <span class="designation">{{ alumni.designation }}</span>
              <a href="mailto:{{ alumni.email }}" class="mailid">{{ alumni.email }}</a>
            </div>
            {%endfor %}
        </div>

          <div class="col-md-2">
            {{content}}
        </div>

    </div>
</div>
</section>
