<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });
    </script>

    <script id="dsq-count-scr" src="//redvgames-gitblog.disqus.com/count.js" async></script>
  </body>

</html>
