<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}
    <div style="background-image:url({{page.bg-url}}); height:100%">
    {{ content }}
    <a class="scrollup" style="float:right; padding-right:30px; color:#f4f4f4"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
    {% include footer.html %}
  </div>
    <script>
    $(document).ready(function () {

      $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
              $('.scrollup').fadeIn();
          } else {
              $('.scrollup').fadeOut();
          }
      });
        $('.scrollup').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });

    });
    </script>
</body>

</html>
