---
layout: default-layout
---
<section class="content">
<div class="container-fluid clearfix" style="min-height: 600px">
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
          {% include events-nav.html %}
        </div>

        <div class="col-md-4" style:"padding-top:12px; margin-top:-40px;" >
          {% if page.posters == null%}
            <p class="project-intro" style="padding-top:45px">Sorry, there are no upcoming events at the moment. Check this space for updates!</p>
          {% endif %}
          <p> Request a game session. Write to us at <a href="mailto:info@fieldsofview.in" class="mailid">info@fieldsofview.in</a></p>

          <ul class="new-events-list">
          {%for posters in page.posters%}
          <li id="{{posters.ide}}"><img src="{{posters.img}}" style="width:100%; padding-left:0px"/></li>
          {%endfor %}
        </ul>
        </div>

          <div class="col-md-3" style="padding-top:30px">
          <ul class="new-events-list2">
            {% for posters in page.posters %}
              <li>
                <h3 class="event-heading">{{posters.heading}}</h3>
                <span class="italic2">{{posters.when}}</span>
                <p class="simple-content">{{ posters.description }}</p>
              </li>
            {% endfor %}
          </ul>
          </div>

          <div class="col-md-1" style="margin-top:24px; border-bottom: 1.5px solid #939393">
            {% include share.html%}
          </div>
      </div>
  </div>
</section>
