---
layout: default-layout
bg-url: /img/background-updates.png
title: Events & Updates
---
<section class="content">
    <div class="container-fluid clearfix" style="min-height: 600px">
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                {% include events-nav.html %}
            </div>
            <!-- <div class="col-md-4" style="padding-top:55px">
                <div class="blog-update">
                    <h3 id="blog-title"></h3>
                    <p id="blog-snippet"></p>
                </div>
                <div class="blog-update" style="margin-top:40px">
                    <h3 id="podcast-title"></h3>
                    <p id="podcast-audio"></p>
                </div>
            </div> -->
            <div class="col-md-6" style="padding-top:25px">
                <div class="tweet-update">
                    <a class="twitter-timeline" href="https://twitter.com/fovlabs" data-widget-id="694797707907506176"
                        height="550px" width="100%" data-chrome="nofooter transparent noheader transparent">Tweets by
                        @fovlabs</a>
                    <script>
                        ! function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + "://platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                        }(document, "script", "twitter-wjs");
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>