---
layout: default-layout
---
<section class="content">
<div class="container-fluid clearfix" style="min-height:600px">
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
          {% include events-nav.html %}
        </div>

        <div class="col-md-4" style="padding-top:47px" >
<!--<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FCalcutta" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
          <p class="project-intro" style="width: 100%">No upcoming game sessions as of now.</p>
          <a href="mailto:info@fieldsofview.in?subject=Requesting Game Session&body=Hi, I'd like to request a game session for...."><p class="project-intro">Request a game session!</p></a>
        </div>

          <div class="col-md-4" style="border-top:1.5px solid #939393; margin-top:61px">
          </div>
      </div>
  </div>
</section>
