---
layout: default
---

<!-- Head for CSS -->
<head>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
</style>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        <!-- {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %} -->      

        <!-- Text near an image -->
        <div class="row">
          <div class="col" >
              <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Random Pic" width="400" data-aos="zoom-out" data-aos-duration="3000" style="vertical-align:middle">
          </div>
          <div class="col" data-aos="zoom-in" data-aos-duration="3000">
              this is text side you are able to modify easily
          </div>
        </div>

        <!-- Now trying to put text and graph near another -->
        <div class="row">
          <div class="col" data-aos="zoom-in" data-aos-duration="3000">
            this is text side you are able to modify easily
          </div>
          <div class="col">
            <div id="3d-graph" style="vertical-align:middle"></div>
          </div>
        </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{'/posts' | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
