---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>{{ site.title }}</h2>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Recipe List -->
        {% for recipe in site.recipes limit : 5 %}

        <article class="post-preview">
          <a href="{{ recipe.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ recipe.title }}</h2>
            {% if recipe.subtitle %}
            <h3 class="post-subtitle">{{ recipe.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ recipe.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if recipe.author %}
            {{ recipe.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ recipe.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=recipe.content %}</p>
        </article>

        <hr>

        {% endfor %}


         <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/recipes" | relative_url }}">View All Recipes &rarr;</a>
        </div>

      </div>
    </div>
  </div>