---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
        

        
     
      </div>
    </div>
    
    
    
    <aside class="page-aside" style="">
  <section class="category">
    <strong style="color:#2ac1bc;font-size:18px;">categories</strong>
    <ul>
      
	 {% for category in site.categories %}	
	  		
	  		
	  		<li>

	  			<a class="bold" href="{{ root_url }}/{{ site.category_dir }}{{ category | first }}">
	  				{{ category | first }} ({{ category | last | size }})
	  			</a>
	    		</li>
	  	
	 {% endfor %} 		
	  		
	  		
	  		<!--li>
	  			<a class="bold" href="/category/tools">
	  				tools (23)
	  		</a></li><a class="bold" href="/category/tools">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/nerd">
	  				nerd (1)
	  		</a></li><a class="bold" href="/category/nerd">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/woowabros">
	  				woowabros (34)
	  		</a></li><a class="bold" href="/category/woowabros">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/study">
	  				study (15)
	  		</a></li><a class="bold" href="/category/study">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/experience">
	  				experience (66)
	  		</a></li><a class="bold" href="/category/experience">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/r-d">
	  				R&amp;D (1)
	  		</a></li><a class="bold" href="/category/r-d">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/security">
	  				security (4)
	  		</a></li><a class="bold" href="/category/security">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/swift">
	  				swift (2)
	  		</a></li><a class="bold" href="/category/swift">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/r-d">
	  				r-d (2)
	  		</a></li><a class="bold" href="/category/r-d">
	  			</a>
	  	
	  		
	  		
	  		
	  		<li>
	  			<a class="bold" href="/category/techcourse">
	  				techcourse (5)
	  		</a></li><a class="bold" href="/category/techcourse">
	  			</a-->
	  	
    </ul>
  </section>
  
  <!--section class="recent-posts">
    <strong style="color:#2ac1bc;font-size:18px;">Recent Posts</strong>
    <ul>
      
      <li><a href="/techcourse/2019/10/14/woowacourse.html">
        - '우아한테크코스 - 웹 백엔드' 2기 과정에 참여할 사람을 모집합니다.
      </a></li>
    
      <li><a href="/experience/2019/10/11/developer-onboarding.html">
        - How to onboard a new hire / 신규입사자 조직안착 과정 
      </a></li>
    
      <li><a href="/tools/2019/10/02/clean-architecture-experience.html">
        - 주니어 개발자의 클린 아키텍처 맛보기
      </a></li>
    
    </ul>
  </section-->
</aside>
    
    
    
    
  </div>
  
