---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background: #36D1DC; background: -webkit-linear-gradient(#36D1DC, #5B86E5); background: -o-linear-gradient(#36D1DC, #5B86E5); background: -moz-linear-gradient(#36D1DC, #5B86E5); background: linear-gradient(#36D1DC, #5B86E5);/">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <img src="{{ '/img/javacafe/logo-eng.png' | prepend: site.baseurl }}" style="width:600px;">
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
