---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% elsif site.background_color %}
<header class="masthead" style="background-color: {{ site.background_color }}">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
          <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    {% if page.width %}
      <div class="col-{{ page.width }} mx-auto">
    {% else %}
      <div class="col-lg-8 col-md-10 mx-auto">
    {% endif %}

        {{ content }}

      </div>
  </div>
</div>
