---
layout: default-layout
---
<section class="content">
<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about">All Projects</h2>
            <ul>
              {%for category in page.categories%}
                <li class="about_nav" id="{{category.ide}}">{{category.title}}</li>
              {%endfor%}
                <li class="about_nav" id="all" style="display: none">All Projects</li>
            </ul>
        </div>
        <div class="col-md-4" >
          <span class="topspace"></span>
          <p class="project-intro" style="padding-top:25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo purus nibh, non imperdiet dolor auctor ac. Ut dictum purus eu elit dignissim rutrum. </p>
          <ul class="our-work-list">
            {%for projects in page.projects%}
            <li id="{{projects.ide}}" class="project {{projects.categories}}"><a href=''><img src="{{projects.img}}" style="width:100%"/></a></li>
            {%endfor %}
        </ul>
        </div>
      <!--  <div class="col-md-3" style="padding-top:24px" id="description_dynamic">-->
          <div class="col-md-3" style="padding-top:24px">
            <p class="simple-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo purus nibh, non imperdiet dolor auctor ac. Ut dictum purus eu elit dignissim rutrum. Fusce ut odio dapibus, tristique libero ac, consectetur velit.</p>

            <p class="simple-content">Sed blandit urna in ullamcorper mogestie. Aliquam vehicula nunc nisl, et citpurus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo purus nibh, non imperdiet dolor auctor ac. Ut dictum purus eu elit dignissim rutrum. Fusce ut odio dapibus, tristique libero ac, consectetur velit.</p>

            <p class="simple-content">Sed blandit urna in ullamcorper mogestie. Aliquam vehicula nunc nisl, et citpurus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo purus nibh, non imperdiet dolor auctor ac.</p>

            <p class="simple-content">Sed blandit urna in ullamcorper mogestie. Aliquam vehicula nunc nisl, et citpurus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo purus nibh, non imperdiet dolor auctor ac. Ut dictum purus eu elit dignissim rutrum. Fusce ut odio dapibus, tristique libero ac, consectetur velit.</p>

            <p class="simple-content">Sed blandit urna in ullamcorper mogestie. Aliquam vehicula nunc nisl, et citpurus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo purus nibh, non imperdiet dolor auctor ac. </p>
         {%for projects in page.projects%}
            <div style="display:none" id="{{projects.ide}}-content" class="project-descriptions">
            <h2>{{projects.title}}</h2>
            <p class="simple-content">
              {{projects.description}}
            </p>
          </div>
            {%endfor %}

        </div>
        <div class="col-md-1">
          <ul class="list-inline-side">
              {% if site.twitter_username %}
              <li>
                  <a href="https://twitter.com/{{ site.twitter_username }}">
                      <span class="fa-stack fa" style="font-size:16px">
                          <i class="fa fa-twitter"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
              {% if site.facebook_username %}
              <li>
                  <a href="https://www.facebook.com/{{ site.facebook_username }}">
                      <span class="fa-stack fa" style="font-size:16px">
                          <i class="fa fa-facebook"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
              {% if site.github_username %}
              <li>
                  <a href="https://linkedin.com/company/{{ site.linkedin_username }}">
                      <span class="fa-stack fa" style="font-size:16px">
                          <i class="fa fa-linkedin"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
          </ul>
          <span class="italicregular" style="font-size:11pt; padding-left:10px;">Share this page!</span>
        </div>
    </div>
</div>
</section>

<script>
  $(document).ready(function(){
    {%for projects in page.projects%}
      $("#{{projects.ide}}").hover(function(){
        $(".project-descriptions").css("display","none");
        $("#{{projects.ide}}-content").toggle();
      });
    {%endfor %}

    {%for category in page.categories%}
      $("#{{category.ide}}").click(function(){
        $("li.project").css("display","none");
        $("li.{{category.ide}}").css("display","block");

        $(".about_nav").show("slow");
        $("#current_about").html("{{category.title}}");
        $("#all").show("slow");
        $("#{{category.ide}}").hide("slow");
      });
    {%endfor%}
      $("#all").click(function(){
        $("li.project").css("display","block");

        $(".about_nav").show("slow");
        $("#current_about").html("All Projects");
        $("#all").hide("slow");
      });
  });
</script>
