---
layout: default-layout
---
<section class="content" style="min-height:600px">
<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about_publications">All Publications</h2>
            <ul>
              {%for category in page.categories%}
                <li class="about_nav" id="{{category.ide}}">{{category.title}}</li>
              {%endfor%}
                <li class="about_nav" id="all" style="display: none">All Publications</li>
            </ul>
        </div>

        <div class="col-md-5" style="padding-top:30px">
          <ul class="publications-list">
            {% for pub in site.categories['publication']| sort: 'year'%}
              <li id="{{pub.ide}}" class="{{pub.categories}} publications" style="padding-bottom:10px">
                <h3 class="pub-name">{{pub.authors}}</h3>
                <span class="italicregular">{{pub.title}}</span>
              </li>
            {% endfor %}
            {% for pub in site.categories['working']| sort: 'year'%}
              <li id="{{pub.ide}}" class="{{pub.categories}} publications" style="padding-bottom:10px">
                <h3 class="pub-name">{{pub.authors}}</h3>
                <span class="italicregular">{{pub.title}}</span>
              </li>
            {% endfor %}
            {% for pub in site.categories['visual']| sort: 'year'%}
              <li id="{{pub.ide}}" class="{{pub.categories}} publications" style="padding-bottom:10px">
                <h3 class="pub-name">{{pub.authors}}</h3>
                <span class="italicregular">{{pub.title}}</span>
              </li>
            {% endfor %}

            <!-- {%for publications in page.publications%}
            <li id="{{publications.ide}}" class="{{publications.categories}} publications" style="padding-bottom:10px">
              <h3 class="pub-name">{{publications.name}}</h3>
              <span class="italicregular">{{publications.pub}}</span>
            </li>
            {%endfor %} -->
          </ul>
        </div>

        <div class="col-md-3" style="border-bottom: 1.5px solid #939393; margin-top:-3px;">
          {% include share.html%}
        </div>
    </div>
</div>
</section>

<script>
$(document).ready(function(){
  {%for category in page.categories%}
    $("#{{category.ide}}").click(function(){
      $(".publications").hide();
      $(".{{category.ide}}").show();
    });
  {%endfor%}
  $("#current_about_publications").click(function(){
    $(".publications").show();
  });
});
</script>
