---
layout: default-layout
---
<section class="content">
<div class="container-fluid clearfix" id="bgpub">
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about_publications">Publications</h2>
            <ul>
              {%for category in page.categories%}
                <li class="about_nav" id="{{category.ide}}">{{category.title}}</li>
              {%endfor%}
                <li class="about_nav" id="all" style="display: none">All Publications</li>
            </ul>
        </div>

        <div class="col-md-5" style="padding-top:28px">
          <ul class="publications-list">
            {%for publications in page.publications%}
            <li id="{{publications.ide}}">
              <h3 class="pub-name">{{publications.name}}</h3>
              <span class="italicregular">{{publications.pub}}</span>
            </li>
            {%endfor %}
          </ul>
        </div>


        <div class="col-md-3">
          <ul class="list-inline-side">
              {% if site.twitter_username %}
              <li>
                  <a href="https://twitter.com/{{ site.twitter_username }}">
                      <span class="fa-stack fa" style="font-size:16px">
                          <i class="fa fa-twitter"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
              {% if site.facebook_username %}
              <li>
                  <a href="https://www.facebook.com/{{ site.facebook_username }}">
                      <span class="fa-stack fa" style="font-size:16px">
                          <i class="fa fa-facebook"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
              {% if site.github_username %}
              <li>
                  <a href="https://linkedin.com/company/{{ site.linkedin_username }}">
                      <span class="fa-stack fa" style="font-size:16px">
                          <i class="fa fa-linkedin"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
          </ul>
          <span class="italicregular" style="font-size:11pt; padding-left:10px;">Share this page!</span>
        </div>
    </div>
</div>
</section>
