---
layout: default-layout
---
<section class="content" style="min-height:600px">
<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about_publications">All Publications</h2>
            <ul>
              {%for category in page.categories%}
                <li class="about_nav" id="{{category.ide}}">{{category.title}}</li>
              {%endfor%}
                <!-- <li class="about_nav" id="magazine"><a href="/about/magazine/">Magazine</a></li> -->
            </ul>
        </div>

        <div class="col-md-5" style="padding-top:30px">
          <ul class="publications-list">
            {% assign sortedpub = site.tags['publications']| sort: 'year' %}
            {% for pub in sortedpub reversed%}
              <li id="{{pub.ide}}" class="{{pub.categories}} publications" style="padding-bottom:10px">
                <h3 class="pub-name"><a href="{{pub.url}}" class="dark">{{pub.authors}} ({{pub.year}}).</a></h3>
                <a href="{{pub.url}}" style="font-size:13.5pt;" class="dark">{{pub.title}}</a>
              </li>
            {% endfor %}

            {% for pub in site.tags['brochures'] %}
              <li id="{{pub.ide}}" class="{{pub.categories}} publications" style="padding-bottom:10px">
                <h3 class="pub-name"><a href="{{pub.docurl}}" class="dark">{{pub.title}}.</a></h3>
                <a href="{{pub.docurl}}" style="font-size:13.5pt;" class="dark">Brochure for the project {{pub.title}}</a>
              </li>
            {% endfor %}
            {% for post in site.tags['research'] %}
              <li id="{{pub.ide}}" class="{{pub.categories}} publications" style="padding-bottom:10px">
              <div><a href="/publications/research"><h2 class="about" id="current_about_publications">RESEARCH IN PLAY</h2></a></div>
                <!--<img src="/img/{{post.ide}}.png" style="width:100%; cursor: pointer; padding-bottom:35px"/>-->
              </a>
              </li>
            {%endfor%}

          </ul>
        </div>
        <div class="col-md-3" style="border-bottom: 1.5px solid #939393; margin-top:-3px;">
          {% include share.html%}
        </div>
    </div>
</div>
</section>

<script>
$(document).ready(function(){
  {%for category in page.categories%}
    $("#{{category.ide}}").click(function(){
      $(".publications").hide();
      $(".{{category.ide}}").show();
    });
  {%endfor%}
  $("#current_about_publications").click(function(){
    $(".publications").show();
  });
});
</script>
