---
layout: default-layout
---
    <link rel="stylesheet" href="{{ "/css/main.css?9" | prepend: site.baseurl }}">
    <!--<link rel="stylesheet" type="text/css" href="css/main.css?9" />-->
    <script type="text/javascript" src="js/jquery.1.6.min.js"></script>
    <script type="text/javascript" src="js/main.js?11"></script>
<!-- animatio-->
        <div class="row">
            <div class="col-lg-12">
                <!--<h3>Latest Features</h3>-->
            </div>
        </div>

        <div class="row text-center">
                  <div id="data_wrapper" style="    background-color: #ffffff;
">
                    <div id="data" style="
    margin-top: -12%;
    margin-left: -979px;
">

<!-- natural -->
 <div>
                                             <script>
function message3() {
    document.getElementById("abhi123").innerHTML = "Wealth Of Natural Capital Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.";
    //document.getElementById("abhi123").innerHTML = "Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.";
    //alert(document.getElementById("abhi123").innerHTML);
}
</script>
  <div class="item main r6 c5 even_row  websites" rel="websites" style="    margin-left: 987px;"><a href="#"><text onclick="message3()" style = "

    font-size: 19px;
    font-style: italic;
    color: #;
    color: #a7a2a9;
    font-family: BebasNeue Bold;
">Gender</text></a></div>
    <div class="item websites even_row r4 c4"><h3>Startwish iPhone App</h3><div class="image"><a href="#websites/startwish"><img src="/img/Big_circle_195X195_padding_17X26.png" title="Natural" alt=""  style="   
    width: 125px;
    /* height: 154px; */
    margin-left: 161px;
    margin-top: 566%;
    " /></a></div></div>
    <div class="item websites even_row r4 c4"><h3>Startwish iPhone App</h3><div class="image"><a href="#websites/startwish"><img src="/img/Big_circle_195X195_padding_17X26.png" title="Natural" alt="" style="    

    width: 125px;
    margin-left: 420px;
    margin-top: 569%;


" /></a></div></div>

    <div class="item websites even_row r4 c4"><h3>Startwish iPhone App</h3><div class="image"><a href="#websites/startwish"><img src="/img/Big_circle_195X195_padding_17X26.png" title="Natural" alt=""  style="    

    width: 125px;
    margin-left: 290px;
    margin-top: 567%
    
    ;" /></a></div></div>
    <div class="item websites even_row r4 c4"><h3>Startwish iPhone App</h3><div class="image"><a href="#websites/startwish"><img src="/img/Big_circle_195X195_padding_17X26.png" title="Natural" alt="" style="


    width: 125px;
    margin-top: 569%;
    margin-left: 552px;

" /></a></div></div>
 </div> 
                      <!--human-->
                      <div>
                                            <script>
function message2() {
    document.getElementById("abhi123").innerHTML = "cnfnsvhsnsfkjfhmvgnhmjnvfhgjkhmckdfvjn";
    //alert(document.getElementById("abhi123").innerHTML);
}
</script>
                          <div class="item main r7 c5   illustration" rel="illustration" style="    margin-left: -4px;
    margin-top: -4%;"><a href="#"><text onclick="message2()"  style="
    margin-left: 1044px;
    /* margin-top: -42%; */
    font-size: 19px;
    font-style: italic;
     color: #a7a2a9; font-family: BebasNeue Bold;
    /* margin-top: -49px; */
">Governance</text></a></div>
                      <div class="item illustration even_row r2 c4"><h3>Snowboards</h3><div class="image"><a href="#illustration/snowboards"><img src="img/Big_circle_195X195_padding_17X26.png" title="Human Wealth" alt=""  style="

    width: 125px;
    margin-left: 289px;
    margin-top: 382%;

" /></a></div></div>
                      <div class="item illustration even_row r2 c4"><h3>Snowboards</h3><div class="image"><a href="#illustration/snowboards"><img src="img/Big_circle_195X195_padding_17X26.png" title="Human Wealth" alt=""  style="

    width: 125px;
    margin-left: 158px;
    margin-top: 380%;

" /></a></div></div>
                      <div class="item illustration even_row r2 c4"><h3>Snowboards</h3><div class="image"><a href="#illustration/snowboards"><img src="img/Big_circle_195X195_padding_17X26.png" title="Human Wealth" alt=""  style="

    width: 125px;
    margin-left: 144px;
    margin-top: 582%;

" /></a></div></div>
                      <div class="item illustration even_row r2 c4"><h3>Snowboards</h3><div class="image"><a href="#illustration/snowboards"><img src="img/Big_circle_195X195_padding_17X26.png" title="Human Wealth" alt=""  style="

    width: 125px;
    margin-left: 418px;
    margin-top: 380%;

" /></a></div></div>
                      <div class="item illustration even_row r2 c4"><h3>Snowboards</h3><div class="image"><a href="#illustration/snowboards"><img src="img/Big_circle_195X195_padding_17X26.png" title="Human Wealth" alt=""  style="

    width: 125px;
    margin-left: 547px;
    margin-top: 379%;

" /></a></div></div>







                      </div>
                      <!--prod-->
                      <div>
                      <script>
function message1() {
    document.getElementById("abhi123").innerHTML = "sdkjhljsdha";
    //alert(document.getElementById("abhi123").innerHTML);
}
</script>
                        <div class="item main r7 c6   branding" rel="branding" style="
    margin-top: 0%;
    margin-left: 34px;
"><a href="#"><text onclick="message1()"  style=" 

margin-top: 105%;margin-left: 892px; color: #a7a2a9;
font-size: 19px; font-style: italic; font-family: BebasNeue Bold;
    " />Policy</text></a></div>
                        <div class="item branding r3 c8"><h3>Go Hard Or Go Home</h3><div class="image"><a href="#branding/go-hard"><img  src="img/Big_circle_195X195_padding_17X26.png" title="Production Capital" alt="" style="

    width: 125px;
    margin-top: 487%;
    margin-left: 7px;

" /></a></div></div>
                        <div class="item branding r3 c8"><h3>Go Hard Or Go Home</h3><div class="image"><a href="#branding/go-hard"><img src="img/Big_circle_195X195_padding_17X26.png" title="Production Capital" alt="" style="
    width: 125px;
    margin-top: 490%;
    margin-left: -129px;
" /></a></div></div>
                        <div class="item branding r3 c8"><h3>Go Hard Or Go Home</h3><div class="image"><a href="#branding/go-hard"><img src="img/Big_circle_195X195_padding_17X26.png" title="Production Capital" alt="" style="
    width: 125px;
    margin-top: 487%;
    margin-left: 145px;
" /></a>

   
</div></div>

 



                      </div>

                      </div>

                    </div>
                  </div>

<div>
  
  <div class="item main r6 c5 even_row  websites" rel="websites" style="    margin-left: 987px;"><a href="#"><text onclick="message3()" style = "

    font-size: 17px;
    font-style: italic;
    color: #;
    color: #a7a2a9;
">RIP</text></a></div>

</div>
</body>
</html>