---
layout: default-layout
---
<section class="content">
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-md-offset-2 col-md-2">
            <h2 class="about" id="current_about">Team</h2>
            <ul>
                <li class="about_nav"><a href="{{ site.baseurl }}/alumni/">Alumni</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/collaborations/">Collaborations</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/newsletter/">Newsletter</a></li>
                <li class="about_nav"><a href="{{ site.baseurl }}/about/">About Us</a></li>
            </ul>
        </div>

        <div class="col-md-6" style="padding-top:62px">
          <div class="row-fluid">
            {%for people in page.people%}
            <div id="{{people.ide}}" class="col-md-4" style="padding-bottom:30px"><img src="{{people.img}}"/>
            <h3 class="team-name">{{ people.title }}</h3>
              <span class="designation">{{ people.designation }}</span> <br/>
              <a href="mailto:{{ people.email }}" class="mailid">{{ people.email }}</a>
              <p class="simple-content">{{ people.description }}</p>
            </div>
            {%endfor %}
          </div>

            <div class="clearfix"></div>
          <div class="row-fluid">
            <h2 class="about" style="padding-top:30px; padding-left:15px"> Advisors</h2> <br/>
            {%for advisors in page.advisors%}
            <div id="{{advisors.ide}}" class="col-md-4" style="padding-bottom:30px;"><img src="{{advisors.img}}"/>
            <h3 class="team-name">{{ advisors.title }}</h3>
              <span class="designation">{{ advisors.designation }}</span> <br/>
              <a href="mailto:{{ advisors.email }}" class="mailid">{{ advisors.email }}</a>
              <p class="simple-content" style:"margin-top:5px">{{ advisors.description }}</p>
            </div>
            {%endfor %}
          </div>
        </div>


        <div class="col-md-2">
            Share - social media buttons
        </div>

    </div>
</div>
</section>
