---
layout: default-layout
---

<section class="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4">
                <h3>{{ page.menu_title }}</h3>
                <ul>
                    {% for menu in page.menu %}
                    <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                {{ content }}
            </div>
            <div class="col-md-4">
                {{ page.sidebar }}
            </div>
        </div>
    </div>
</section>