---
layout: default-layout
description: wwu
title: Work with us
bg-url: /img/background-donate.png
---

<section class="content">
    <div class="container-fluid clearfix" style="min-height:600px">
        <div class="row-fluid">
            <div class="col-md-2 col-md-offset-2">
                <h2 class="about" id="current_about">Work with us</h2>
            </div>
            <div class="col-md-4" style="padding-top:35px">
                <span class="topspace"></span>
                <h3 class="event-heading">{{page.title}}</h3>
                <p class=simple-content>{{page.description}}</p>
                <p class=simple-content>{{page.basicrequirements}}</p>
                <p class=simple-content>{{page.skills}}</p>
                <p class=simple-content>{{page.additionalSkills}}</p>
                <p class=simple-content>{{page.aboutWork}}</p>
                <p class=simple-content>{{page.aboutYou}}</p>
                <p class=simple-content>{{page.whyWorkForFov}}</p>
                <p class=simple-content>{{page.applicationProcess}}</p>
                <p class=simple-content>{{page.notes}}</p>

            </div>
            <div class="col-md-3 col-md-offset-1" style="margin-top:25px; border-bottom: 1.5px solid #939393;"></div>
        </div>
    </div>
</section>