  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .u-clearfix:before,
  .u-clearfix:after {
    content: " ";
    display: table;
  }
  
  .u-clearfix:after {
    clear: both;

  }
  
  .u-clearfix {
    *zoom: 1;
  }
  
  .subtle {
    color: #aaa;
  }
  
  .recipe-card-container {
    margin: 25px auto 0;
    position: relative;
    width: 692px;
    display: flex;
  }
  
  
  .recipe-card-body {
    display: inline-block;
    float: left;
    width: 310px;
  }
  
  .recipe-card-number {
    margin-top: 15px;
  }
  
  .recipe-card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
  }
  
  .recipe-card-author {
    display: block;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .recipe-card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    margin: 10px 0;
  }
  
  .recipe-card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 10px;
    margin: 10px 0;
  }
  
  .recipe-card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .recipe-card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 30%;
  }
  
  .recipe-card-tag {
    float: right;
    margin: 5px 0 0;
  }
  
  /* .recipe-card-media {
    float: right;
  } */

  .recipe-card-media {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}
  
  .recipe-card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
    padding-bottom: 10px;
  }
  .centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 40em) {
  .recipe-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .recipe-card{
    background-color: #fff;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
    flex: 0 1 calc(50% - 1em);
    margin: 25px auto 0;
  }
}

@media screen and (min-width: 60em) {

  .recipe-card {
    background-color: #fff;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
    flex: 0 1 calc(25% - 1em);
    margin: 25px auto 0;
  }
}
/* .recipe-card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
  
} */